.form {
  .form_element-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }
}

.side-menu {
  width: 55px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff2f2;
}
