.chat-list__content-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  height: 100vh;
  background: #f2eeee;

  .chat-list__menu-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 123px;
    padding-bottom: 18px;
  }

  .chat-list__menu-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }

  .chat-list__chats-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.chat-date {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.active-chat__content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .active-chat__menu-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: #f2eeee;
  }

  .active-chat__person-info-block {
    display: flex;
    align-items: center;

    .active-chat__person-avatar {
      width: 46px;
      height: 46px;
      border: 1px solid #d6d6d6;
      border-radius: 30px;
      background-color: $white_color;
    }

    .active-chat__person-name {
      margin-left: 9px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .active-chat__messages-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;

    .chat-date {
      margin-bottom: 17px;
    }

    .chat-message {
      margin: 5px 0;
    }
  }

  .active-chat__send-input {
    width: 100%;
    height: 43px;
    border: solid 1px $grey_color;
    border-radius: 5px;
    padding: 0 15px;
    background-image: url("/static/icons/send_icon.svg");
    background-repeat: no-repeat;
    background-position: 99%;
    outline: none;
  }
}

.search-input {
  width: 319px;
  height: 43px;
  border: 1px $grey_color;
  border-radius: 5px;
  padding: 0 15px;
  background-image: url("/static/icons/search_icon.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  outline: none;
}
